<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
              <% _.each(keys, function(key) { %>
                  <th><%= key %></th>
              <% }); %>
            </tr>
        </thead>
        <tbody>
        <% _.each(data, function(d) { %>
            <tr>
                <% _.each(d, function(_d) { %>
                  <td> <%= _d %></td>
                <% }); %>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
