.grid {
    overflow: hidden;
}
@media screen and (min-width:48em){
    .col-md-4-12 {
        width: 32.33333% !important;
    }
}
.column {
    height: 400px;
    overflow: scroll;
    margin: .5% !important;
    border-radius: 3px;
    border: 1px solid rgb(199, 199, 199);
}
.icon {
    display: block;
    color: white;
    fill: currentColor
}
.nav > a {
    display: block;
    padding-bottom: 20px;
}
.nav > a:hover, .nav > a:hover .icon {
    border: 0;
    color: rgb(177, 177, 177);
}
